.p1{
    font-size: 25px;
    max-width: 43%;
    transition: 0.2s ease-out;

}

.p2{
    font-size: 25px;
    max-width: 43%;
    transition: 0.2s ease-out;
    margin-bottom: 5%;
   
}

.p1:hover{
    font-size: 27px;
    max-width: 50%;
    font-weight: 600;
}

.p2:hover{
    font-size: 27px;
    font-weight: 600;
    max-width: 50%;
}
.mapContainer {
  height: "600px";
  width: "50%";
  float: "right" ;
}


@media screen and (max-width: 800px) {
  .p1,
  .p2 {
    font-size: 15px;
    max-width: 100%; /* Use 100% width for mobile */
  }

  .p1:hover,
  .p2:hover {
    font-size: 18px;
  }

}