.abtwritingcon{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: center;

}


.p1{
    font-size: 30px;
    transition: 0.2s ease-out;
}


.p1:hover{
    font-size: 31px;
    font-weight: 600;
}




.mapcontainer{
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
    height: 500px;
    border: 2px solid black;
    z-index: 1;

}

.topheadabt{
    font-size: 30px;
    font-weight: 600;
    margin-top: 5%;
    margin-left: 5%;
}

@media screen and (max-width: 800px) {
  .p1,
  .p2 {
    font-size: 25px;
    max-width: 100%; 
  }

  .p1:hover,
  .p2:hover {
    font-size: 18px;
  }

}

@media (max-width:1024px) and (min-width:769px){
    .mapcontainer{
      width: 1000px;
      margin-left: 18%;
    }

    .p1{
      width: 1000px;
      margin-left: 18%;
    }
}