.navBar {
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    /* padding: 1rem 2rem; */
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.desktopMenu {
    display: flex;
    gap: 2rem; 
    margin-left: 20%; 
    font-size: 20px;
    color: black;
    transition: 0.4s ease-out;
    cursor: pointer;
}
.navItems{
    transition: 0.3s ease-out;
    text-decoration: none;
    color: black;
}


.navItems:hover {
    font-size: 35px;
    text-decoration: underline 2px;
    font-weight: 600;
    color: #2E3338;


}


.menuButton {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
}

.mobileMenu {
    display: none; /* Hide mobile menu by default */
}

.mobileDropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem; 
    width: 140px;
    font-size: 25px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 4;
}

.colorChange{
    font-size: 35px;
    text-decoration: underline 2px;
    font-weight: 600;
    color: #2E3338;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 800px) {
    .desktopMenu {
        display: none; /* Hide desktop menu on small screens */
    }

    .mobileMenu {
        display: flex;
        align-items: center;
        float:left ;
    }
    .logo{
        display: none
        ;
    }
}

