.porttitlehead{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;

}

.writingheadport{
  font-size: 45px;
  font-weight: 700;
  color: #000000;
}

.boxesConPort {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.portbox {
  position: relative;
  width: 420px;
  height: 260px; 
  border: 2px solid black;
  cursor: pointer;
  overflow: hidden;
  transition: .5s ease-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imagesinport {
  width: 100%;
  height: 100%;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.9); /* Adjust the opacity as needed */
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.portbox:hover .overlay {
  display: flex;
}

.portbox:hover {
  transform: scale(1.05);
  box-shadow: rgba(1, 2, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.overlay-content {
  text-align: center;
}

.porthoverhead{
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.innerdescport{
  display: flex;
  justify-content: center;
  padding: 7px;
  align-items: center;
  color: white;
  font-size: 19px;
  font-weight: 400;
  margin-top: -13px;
}

